# Agrupaciones

La clase `DataFrame` contiene un método llamado `groupby` que permite agrupar filas mediante funciones de agregación:

In [1]:
import pandas as pd

# Creamos un diccionario con mucha información
ventas = {
    'Comercial': ['Juan', 'María', 'Manuel', 'Vanesa', 'Ana', 'Marcos'],
    'Empresa': ['Movistar', 'Jazztel', 'Movistar', 'Jazztel', 'Vodafone', 'Vodafone'],
    'Primas': [300, 220, 140, 70, 400, 175]
}

/tmp/ipykernel_14749/1755495196.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.DataFrame(ventas)

df

  Comercial   Empresa  Primas
0      Juan  Movistar     300
1     María   Jazztel     220
2    Manuel  Movistar     140
3    Vanesa   Jazztel      70
4       Ana  Vodafone     400
5    Marcos  Vodafone     175

Utilizando `groupby` podemos agrupar las filas en función del nombre de la columna, por ejemplo el nombre de la `Empresa`, al hacerlo se generará un nuevo objeto de tipo `DataFrameGroupBy`:

In [9]:
df.groupby('Empresa')

Este objeto se puede asignar a una variable para trabajar con él a fondo:

In [12]:
por_empresa = df.groupby("Empresa")

Con los métodos de agregación podemos analizar la información agrupada:

In [13]:
# Prima media por empresa
por_empresa.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [14]:
# Lo mismo sin guardar el objeto en una variable
df.groupby('Empresa').mean()

TypeError: agg function failed [how->mean,dtype->object]

Otros métodos útiles:

In [15]:
# Desviación estándar (dispersion del conjunto)
por_empresa.std()

ValueError: could not convert string to float: 'Juan'

In [16]:
# Primas mínimas (error)
por_empresa.min()

         Comercial  Primas
Empresa
Jazztel      María      70
Movistar      Juan     140
Vodafone       Ana     175

In [17]:
# ID de las primas mínimas
por_empresa['Primas'].idxmin()

Empresa
Jazztel     3
Movistar    2
Vodafone    5
Name: Primas, dtype: int64

In [18]:
# Usamos las ID de las primas máximas como fuente del df
df.loc[por_empresa['Primas'].idxmin()]

  Comercial   Empresa  Primas
3    Vanesa   Jazztel      70
2    Manuel  Movistar     140
5    Marcos  Vodafone     175

In [19]:
# Primas mínimas
df.loc[por_empresa['Primas'].idxmax()]

  Comercial   Empresa  Primas
1     María   Jazztel     220
0      Juan  Movistar     300
4       Ana  Vodafone     400

In [20]:
# Contador de primas por empresa
por_empresa.count()

          Comercial  Primas
Empresa
Jazztel           2       2
Movistar          2       2
Vodafone          2       2

In [21]:
# Reporte de analíticas descriptivas por empresa
por_empresa.describe()

         Primas
          count   mean         std    min     25%    50%     75%    max
Empresa
Jazztel     2.0  145.0  106.066017   70.0  107.50  145.0  182.50  220.0
Movistar    2.0  220.0  113.137085  140.0  180.00  220.0  260.00  300.0
Vodafone    2.0  287.5  159.099026  175.0  231.25  287.5  343.75  400.0

In [22]:
# Reporte transpuesto (filas por columnas)
por_empresa.describe().transpose()

Empresa          Jazztel    Movistar    Vodafone
Primas count    2.000000    2.000000    2.000000
       mean   145.000000  220.000000  287.500000
       std    106.066017  113.137085  159.099026
       min     70.000000  140.000000  175.000000
       25%    107.500000  180.000000  231.250000
       50%    145.000000  220.000000  287.500000
       75%    182.500000  260.000000  343.750000
       max    220.000000  300.000000  400.000000

In [23]:
# Reporte transpuesto de una sola empresa
por_empresa.describe().transpose()['Movistar']

Primas  count      2.000000
        mean     220.000000
        std      113.137085
        min      140.000000
        25%      180.000000
        50%      220.000000
        75%      260.000000
        max      300.000000
Name: Movistar, dtype: float64

Como siempre más información sobre las agrupaciones en la [documentación oficial](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html).